#about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid black;

}
.about__container{
        height: auto;
        p{
            margin: 2em 0 0;
        }

    }





.items{
    margin: 2em 0 0;
    display: flex;
    justify-content: space-between;

    .item{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        text-align: center;
        img{
            height: 50px;
            margin-bottom: 1em;
            filter: grayscale(100%) 
    }
        span{
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease;
            
        }

        &.active {
            img{
                filter: grayscale(0%)
            }

            span {
                opacity: 1;
                visibility: visible;
            }
        }

    }
}