@use "sass:color";
@use "sass:map";

$primary-color: #fff;
$secondary-color: #000;
$accent-color: oklch(44.2% .017 285.786);
$border-color: rgb(79,79,79);
$font-main: Arial, Helvetica, sans-serif;
$font-weights: (
    small : 400,
    medium : 500,
    bold: 700
    );
$header-height: 80px;
// spacing for h1... p. ecc
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 5rem;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
  scroll-margin-top: 80px;
  padding: 5rem 1.5rem;
}





@function set-text-color($color) {
    @if (color.channel($color, "lightness", $space: hsl) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}