$primary-color:rgb(232, 252, 252);
$secondary-color: #fffcfc;
$border-color: rgb(79,79,79);
$font-main: Arial, Helvetica, sans-serif;

@function set-text-color($color) {
    @if (lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}