@use "sass:color";
@use "sass:map";



$primary-color: #fff;
$secondary-color: #000;
$accent-color: oklch(44.2% .017 285.786);
$border-color: rgb(79,79,79);
$font-main: Arial, Helvetica, sans-serif;
$font-weights: (
    small : 400,
    medium : 500,
    bold: 700
    );
$header-height: 5rem;
// spacing for h1... p. ecc
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 5rem;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}






@function set-text-color($color) {
    @if (color.channel($color, "lightness", $space: hsl) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
        
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
        
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
        
    }
}