
.cv{

    .print-cv {
    @include button-style;
    margin-top: 0;
}



&__curriculum-vitae {

    width: 100%;
    max-width: 210mm ;
    height: auto;
    margin: 3rem auto;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    border: 1px solid black;
    padding: 1rem;

    section{
        margin-top: $spacing-sm;
        margin-bottom: $spacing-sm;
        border-bottom: none;
        padding: 0;
    }


    h1, h2 {
        font-size: large;
    }
    h3 {
        font-size: large;
    }
    p, span, ul{
        font-size: medium;
    }

    .cv__skills{
        
         display: flex;

         div{
            width: 50%;
         }

         ul{
            list-style:square;
            box-sizing: border-box;
            margin: 1rem;
         }

}
   .cv__other{
        border-bottom: none;
         }
    



}
}

