
.cv{

    .print-cv {
    @include button-style;
    margin-top: 0;
}



&__curriculum-vitae {

    section{
        margin-top: $spacing-sm;
        margin-bottom: $spacing-sm;
        border-bottom: none;
        padding: 0;
    }

    width: 100%;
    max-width: 210mm ;
    height: auto;
    margin: 3rem auto;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    border: 1px solid black;
    padding: 1rem;

    h1, h2 {
        font-size: large;
    }
    h3 {
        font-size: large;
    }
    p, span, ul{
        font-size: medium;
    }

    .cv__skills{
        
         display: flex;

         div{
            width: 50%;
         }

         ul{
            list-style:square;
            box-sizing: border-box;
            margin: 1rem;
         }
    

}



}
}

// Download PDF

@media print {

    @page {
        size: A4;
        margin: 0;
    }

    html,
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    header.header {
        display: none !important;
    }

    .ask,
    footer.footer,
    .print-cv {
        display: none !important;
    }

    main {
        margin: 0 !important;
        padding: 0 !important;
    }

    .cv {
        margin: 0 !important;
        padding: 0 !important;
    }

    .cv__container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .cv__curriculum-vitae {
        width: 210mm;
        height: 296mm;

        margin: 0 !important;
        padding: 1.5rem;

        box-sizing: border-box;

        border: none;
        box-shadow: none;

        overflow: hidden;

    // layout destop
        .cv__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                width: 50%;


            }
        }

        .cv__skills{
            display: flex;

            div {
                width: 50%;
            }
        }
    }
}