#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    min-height: calc(100vh - 80px);
    .home__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        h1{
            font-size: 36px;
            margin: 10px 0 0;
        }
        h3{
            font-size: 14px;
        }
        p{
            margin: 2em 0 0;
        }


    }
}


