

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border-bottom: 1px solid black;
    min-height: calc(100vh - 80px);
    .home__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
      
        

    }
}


