.section-home {
    // padding:20px ;
    // height: 100vh;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // text-align: center;
    // background-size: cover;
    padding: 20px;

    &__name{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid black;
    }
    &__bio{
        // display: flex;
        // flex-direction: column; 
        // justify-content: flex-start; 
        margin: 40px 0;
    }

}
