@use "sass:map";
@use 'config';

.menu-toggle {
    position: absolute;
    opacity: 0;
    z-index: 100;
}

.menu-toggle:focus + .menu-btn {
    outline: 2px solid config.$accent-color;
}



.menu-btn{
    position: relative;
    z-index:10;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 28px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;

    &__burger {
        display: block;
        position: relative;
        width: 28px;
        height: 3px;
        background: config.set-text-color(config.$primary-color);


        &::before, 
        &::after{
            content: '';
            position: absolute;
            left: 0;
            width: 28px;
            height: 3px;
            background: config.set-text-color(config.$primary-color);
        }
                &::before {
                    top: -8px;
                }
                &::after {
                    top: 8px;
                }


       
        }
    }

// -- Menu checkbox  
.menu-toggle:checked ~ .main-nav {
    transform: translateX(0);
    visibility: visible;
}

.menu-toggle:checked ~ .main-nav .menu-nav {
            transform: translateY(0);
            border-bottom: 1px solid config.$border-color;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

        }

.menu-toggle:checked ~ .main-nav .menu-nav__item {
              transform:translateX(0);
        }
// Menu checkbox --


.main-nav{
    z-index: 5;
    position: fixed;
    top: config.$header-height;
    left: 0;
    width: 100%;
    @include config.transition-ease;
    visibility: hidden;

    

    
  
    .menu-nav{
        display: flex;
        flex-flow: column wrap;
        align-items:flex-start;
        justify-content: flex-start;
        background: config.$primary-color;
        padding: 0 2rem;
        margin: 0;
        z-index: 6;
        list-style-type: none;
        transform: translateY(-100%);
        @include config.transition-ease;        

     

        &__item{
            transform: translateX(100vh);
            @include config.transition-ease;

            

    }
    
    &__link {
        display: inline-block;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 1.5rem 0;
        font-weight: 400;
        @include config.transition-ease;

        &:hover{
            color: config.$secondary-color;
        }
    }
}
}