

#projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 80px);


}

.projects{

&__container {
    height: auto;
}

&__list{
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

&__card{
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 22rem;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    overflow: hidden;
    cursor: pointer;

    
        &:hover{
            .projects__img::after{
                top: 0;
                opacity: 0.9;
            }
             .projects__btn{     // IMPORTANT: the hover effect starts here for &__btn
                 opacity: 1;
                }

        }

        h3{
            color: $secondary-color;
            font-size: x-large;
        }
   
    
}

&__img{
        background-color: black;
        height: 12rem;
        width: 100%;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-bottom: 1px solid $secondary-color;
        position: relative;
        overflow: hidden;


        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 2s ease;
            
        }

        &:hover img{
                transform: translateY(-40%);
            }


        &::after{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease

        }


    }

&__btns{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

&__btn{
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

            &:hover {
        color: set-text-color(set-text-color($secondary-color));
    }
}

&__body{
    padding: 10px 10px;
    height: 11rem;


}
 }

