#section-projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 1px solid black;

}

.section-projects__container {
margin: 40px 0;
// background-color: red;
}