@use "sass:map";
@use 'config';


@include config.media-md {
    // menu burger responsive

    .menu-btn {
        display: none;
    }

    .main-nav {
        position: static;
        width: auto;
        height: auto;
        visibility: visible;
        transform: none;

        .menu-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            padding: 0;
            background: transparent;
            transform: none;

            &__item {
                transform: none;

                    }

            &__link {
                padding: 1rem;
                color: config.$accent-color;
                &:hover{
                    color: config.$secondary-color;
                        }
                    }
                }
        }

       body {
        #home {
        .home__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        h1 {
            order: 2;
            font-size: 4rem;


            }

         h2 {
            order: 1;
            font-weight: map.get(config.$font-weights, small);
            color: config.$accent-color;
            font-size: 2.5rem;
            margin-bottom: config.$spacing-sm;
            }

        p {
            order: 3;
            font-size: 1.2rem;

        }
    }
        

    }


        h2 {
            color: config.$secondary-color;
            font-weight: map.get(config.$font-weights, bold);
            font-size: 2.5rem;
            margin-bottom: config.$spacing-md;
        }


h3 {
    color: config.$secondary-color;
    font-weight: map.get(config.$font-weights, medium);
    font-size: 1.5em;
}


p{
    font-weight: map.get(config.$font-weights, small);
            font-size: 1.2rem;
    color: config.$accent-color;
}

.ask{

    h2{
        color: config.$accent-color;
        font-size: 2.5rem;
        font-weight: map.get(config.$font-weights, medium);
    }
}
       }

          .about__container{
        .items{
        .item{
            img{
                height: 75px;
            }
        }
    }
}

// Project section responsive 

        .projects {

            &__card{
                max-width: 22rem;
                height: 30rem;
            }
          

            p{
                font-size: 1.2rem;
            }

            &__body{
                padding: 1rem;

            }
        }
 //  Cv.html

        .cv__curriculum-vitae{
                padding: 1.5rem;



            .cv__header{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            div{
                width: 50%;
                h1 {
                    font-size: 1.8rem;
                    font-weight: map.get(config.$font-weights, bold);
                    line-height: 1.2;

                    }
                h2 {
                    font-size: 1.5rem;
                    font-weight: map.get(config.$font-weights, medium);
                    line-height: 1.2;
                }
            }
        }

        h3 {
        font-size:large;
    }
    
    p, span, ul{
        font-size: large;
    }

    .cv__other{
        border-bottom: none!important;
         }
        
    
    }

       
}




@include config.media-lg {

        // Header section

       .header {
            &__container {
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 1.5rem;
            }

            .logo {
            font-size: 1.75rem;
            }
    }


        body{

            #home{
                .home__container{
                    h1{
                    font-size: 5rem;
                    }

                    h2{
                        font-size: 3.5rem;
                    }

                    p{
                        font-size: 1.5rem;
                    }
                }
            }

            p{
        font-size: 1.5rem;
        color: config.$accent-color;
        font-weight: map.get(config.$font-weights, small);

    }
    
h2{
        font-weight: map.get(config.$font-weights, bold);
        color: config.$secondary-color;
        font-size:  2.5rem;
    }
    h3{
        font-weight: map.get(config.$font-weights, small);
        color: config.$accent-color;
        font-size: 1.5rem;

    }


    
}

    // menu burger responsive

    .menu-btn {
        display: none;
    }

    .main-nav {
        position: static;
        width: auto;
        height: auto;
        visibility: visible;
        transform: none;

        .menu-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            padding: 0;
            background: transparent;
            transform: none;

            &__item {
                transform: none;

                    }

            &__link {
                padding: 1rem;
                color: config.$accent-color;
                &:hover{
                    color: config.$secondary-color;
                        }
                    }
                }
        }

       

        // About section responsive
        .about__container{
        .items{
            max-width: 800px;
            margin: 5rem auto;
            .item{

                img{
                    height: 5rem;
                }

                span{
                    font-size: 1.2rem;
                }
            }
    
}
        }


        

        
        // Project section responsive 

        .projects {

            &__card{
                max-width: 22rem;
                height: 35rem;
            }
            h3{
                font-size: 2rem;
            }

            p{
                font-size: 1.2rem;
            }

            &__body{
                padding: 1rem;

            }
        }

        //  Cv.html
        // Curriculum A4 layout 210mm x 297mm

        .cv__curriculum-vitae{
                padding: 1.5rem;
                // max-height: 296mm;
                // overflow: hidden;



            .cv__header{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            div{
                width: 50%;
                h1 {
                    font-size: 2rem;
                    font-weight: map.get(config.$font-weights, bold);
                    line-height: 1.2;

                    }
                h2 {
                    font-size: 1.8rem;
                    font-weight: map.get(config.$font-weights, medium);
                    line-height: 1.2;
                }
            }
        }

        h3 {
        font-size:large;
    }
    
    p, span, ul{
        font-size: large;
    }

    .cv__other{
        border-bottom: none!important;
         }
        
    
    }



        // Contact.html

        .contacts{
            .contacts__text{
        max-width: 650px;
        margin: auto;
            }

        }

        .contacts__list{
            padding: 5rem 0;

            h4{
            
        font-weight: map.get(config.$font-weights, bold);
        color: config.$accent-color;
        font-size:  1.5rem;
    
            }
        }






    }


@include config.media-xl {

    
        body{
    h1 {
            font-weight: map.get(config.$font-weights, bold);
            font-size: 7rem;
}
h2{
        font-weight: map.get(config.$font-weights, bold);
        color: config.$secondary-color;
        font-size:  3.5rem;
    }
    h3{
        font-weight: map.get(config.$font-weights, small);
        color: config.$accent-color;
        font-size: 3.5rem;

    }


    p{
        font-size: 2rem;
        color: config.$accent-color;
        font-weight: map.get(config.$font-weights, small);

    }
}



.ask{
    .ask__container{
    
    h3{
        font-size: 3.5rem;
    }
}
}

// Contact.html

        .contacts{

            &__form{
                form{

                }

                input, textarea{
                    font-size: 2rem;
                }

                textarea{
                    min-height: 250px;
                }

            }

            .contacts__text{
        max-width: 650px;
        margin: auto;
            }

        }

        .contacts__list{
            padding: 5rem 0;

            h4{
            
        font-weight: map.get(config.$font-weights, bold);
        color: config.$accent-color;
        font-size:  1.5rem;
    
            }

            .contacts__social{
                font-size: 4rem;
            }
        }


// === Footer ===



.footer{
   
    &__container{
    

        .social-icons{
            border-bottom: 1px solid config.$primary-color;
            font-size: 3.2rem;
            max-width: 1200px;
        }
  

    h5, h4{
      
        font-size: 1.5rem;
    }

}
    
}





.social-icons {
        font-size: 3rem!important;
        border-bottom: 1px solid config.$primary-color;
        display: flex;
        justify-content: center;
        padding: 1.5rem;

          a {
        color: inherit;
    }

    i {
        font-size: 2rem;
    }

    
}

}