@use "sass:map";

@import 'config';
@import 'menu';
@import 'home';
@import 'about';
@import 'projects';
@import 'contacts';
@import 'cv';
@import 'responsive';



//  sass assets/scss/main.scss assets/css/style.css --watch

body{
    background: $primary-color;
    font-family: $font-main;
    line-height: 2;
    color: set-text-color($primary-color);
}

h1,h2 {
    font-weight: map.get($font-weights, bold);
    font-size: 2em;
}
h3{
        font-weight: map.get($font-weights, small);
        color: $accent-color;
    }

    p{
        font-weight: map.get($font-weights, small);
        font-size: 16px;
        color: $accent-color;
    }


 a {
    text-decoration: none;
    color: set-text-color($primary-color);
 }

 .header{
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: $header-height;
    background: $primary-color;
    border-bottom: 1px solid darkgrey;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);


 }
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    }

section {
  scroll-margin-top: 80px;
  padding: 5rem 1.5rem;
}

.ask{
    width: auto;

    h3{
        font-size: 1.5rem;
    }


    .btn {
        background: $secondary-color;
        color: $primary-color;
        padding: 10px;
        width: 200px;
        margin-top: 20px;
        font-size: 1.5rem;
        border-radius: 3.40282e38px; 
        box-sizing: border-box;
        cursor: pointer;
       
    }
}



// === Footer ===
#footer{
  padding: 5rem 1.5rem;



}
.footer{
    background: $secondary-color;
    color: set-text-color($secondary-color);

    &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  

    h5, h4{
        margin-top: $spacing-sm;
        color: $primary-color;
    }

}
    
}





.social-icons {
        font-size: 2rem;
        border-bottom: 1px solid $primary-color;
        display: flex;
        width: 90%;
        justify-content: center;
        padding: 1.5rem;

          a {
        color: inherit;
    }

    i {
        font-size: 2rem;
    }

}











