@import 'config';
@import 'responsive';
@import 'menu';
@import 'home';
@import 'about';
@import 'projects';
@import 'contacts';

//  sass assets/scss/main.scss assets/css/style.css --watch

body{
    background: $primary-color;
    font-family: $font-main;
    line-height: 2;
    color: set-text-color($primary-color);
}

h1,h2 {
    font-weight: map-get($font-weights, bold);
    font-size: 2em;
}
h3{
        font-weight: map-get($font-weights, small);
        color: $accent-color;
    }

    p{
        font-weight: map-get($font-weights, small);
        font-size: 16px;
        color: $accent-color;
    }


 a {
    text-decoration: none;
    color: set-text-color($primary-color);
 }

 .header{
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: $header-height;
    background: $primary-color;
    border-bottom: 1px solid darkgrey;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);


 }


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    }











