* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 2rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #000;
  transition: all 0.5s ease-in-out;
}

.nav {
  position: fixed;
  padding-top: 80px;
  top: 0; /* promemoria per l'altezza della tendina */
  left: 0;
  width: 100vw;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  background: #fff;
  padding: 0 24px;
  overflow: hidden;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  border-bottom: 1px solid darkgrey;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #000;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #000;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  padding: 0 20px;
}
#home .home__container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .home__container h1 {
  font-size: 36px;
  margin: 10px 0 0;
}
#home .home__container h3 {
  font-size: 14px;
}
#home .home__container p {
  margin: 2em 0 0;
}

#about {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.about__container {
  height: auto;
  padding: 0 20px;
}
.about__container p {
  margin: 2em 0 0;
}

.items {
  margin: 2em 0 0;
  display: flex;
  justify-content: space-between;
}
.items .item {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  text-align: center;
}
.items .item img {
  height: 50px;
  margin-bottom: 1em;
  filter: grayscale(100%);
}
.items .item span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.items .item.active img {
  filter: grayscale(0%);
}
.items .item.active span {
  opacity: 1;
  visibility: visible;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  padding-top: 160px;
}

.projects__container {
  padding: 0 20px;
  height: auto;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects__card {
  background-color: white;
  margin: 50px 50px;
  width: 18rem;
  height: auto;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: inset;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.projects__card .projects__img {
  background-color: aquamarine;
  height: 7rem;
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
.projects__card .projects__body {
  padding: 10px 10px;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  color: #000;
}

h1, h2 {
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-weight: 400;
  color: oklch(44.2% 0.017 285.786deg);
}

p {
  font-weight: 400;
  font-size: 16px;
  color: oklch(44.2% 0.017 285.786deg);
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  padding: 1rem;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid darkgrey;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 80px;
}

.footer {
  height: 20vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.social-icons {
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
